.navbar {
  background-color: white; 
  padding: 0 20px 0 20px;
}


h1.app-name {
  margin-left: 8px;
}

h1.app-name:hover {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.logo-icon {
  color: #3f51b5
}

.user-label {
  font-size: 10px;
}
