<div fxLayout="column" fxLayoutGap="20px" class='container'>
    <mat-card>
        <mat-card-title>
            Most popular movies
        </mat-card-title>
        <mat-card-content>
            <div [class.horizontal]="isLoggedIn && mostViewedMovies">
                <app-movie-list [movies]="mostViewedMovies" [showVertically]="!isLoggedIn"></app-movie-list>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="isLoggedIn && lastViewedMovies">
        <mat-card-title>
            Recently viewed by you
        </mat-card-title>
        <mat-card-content>
            <div [class.horizontal]="isLoggedIn">
                <app-movie-list [movies]="lastViewedMovies"></app-movie-list>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="isLoggedIn && savedMovies">
        <mat-card-title>
            Saved for later
        </mat-card-title>
        <mat-card-content>
            <div [class.horizontal]="isLoggedIn">
                <app-movie-list [movies]="savedMovies"></app-movie-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>
