<div fxLayout="row" fxLayout.md="column" fxLayoutAlign="space-between start">

    <mat-card class="video-card" fxFlex="50%">
        <mat-card-title>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">

                <span>{{video?.title}}</span>

                <div fxLayout="row" fxLayoutAlign="start center">

                    <mat-icon style="color: #EDB867; font-size: 1.3em; margin-right: 5px;">star</mat-icon>

                    <!-- Overall rating -->
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span style="font-size: 0.8em;">
                            {{video?.avgRating | number:'1.0-0'}}
                        </span>
                        <span style="font-size: 0.4em; color: gray; font-weight: lighter;">
                            /5
                        </span>
                    </div>
                </div>

                <!-- User rating -->
                <mat-icon matTooltip="Rate it" matTooltipShowDelay="500" class="rating-icon"
                    (click)="toggleRatingState()" [style.color]="video?.rating ? '#3f51b5' : 'gray'"
                    color="primary">star</mat-icon>

                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="user-rating-value"> {{video?.rating || '-'}} </span>
                    <span class="user-rating-caption">You</span>
                </div>

                <app-rating *ngIf="state.rating" [initialRating]="video?.rating" (rateHovered)="onHover($event)"
                    (rateSelected)="onRateChange($event)" (rateReset)="onRateReset($event)"></app-rating>
            </div>
        </mat-card-title>

        <mat-card-subtitle>
            <!-- TODO: change to views when implemented -->
            {{video?.details.imdbVotes}} views
        </mat-card-subtitle>

        <mat-card-content>
            <video [hidden]="!video" #videoPlayer controls [src]="getVideoUrl()" [poster]="video?.details.Poster"
                width="720">
            </video>
        </mat-card-content>

        <mat-card-subtitle>
            Plot
        </mat-card-subtitle>
        <mat-card-content>
            {{video?.details.Plot}}
        </mat-card-content>

    </mat-card>

    <app-movie-list></app-movie-list>

</div>
