<div fxLayout="row" fxLayout.md="column" fxLayoutAlign="start start" class='container'>

    <mat-card class="video-card" fxFlex="55%">
        <mat-card-title>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">

                <mat-icon style="color: #EDB867; font-size: 1.3em; margin-right: 5px;">star</mat-icon>

                <!-- Overall rating -->
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span style="font-size: 0.8em;">
                        {{video?.avgRating | number:'1.0-0'}}
                    </span>
                    <span style="font-size: 0.4em; color: gray; font-weight: lighter;">
                        /5
                    </span>
                </div>


                <!-- User rating -->
                <mat-icon matTooltip="Rate it" matTooltipShowDelay="500" class="rating-icon"
                    (click)="toggleRatingState()" [style.color]="video?.userRating ? '#3f51b5' : 'gray'"
                    color="primary">
                    star
                </mat-icon>

                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="user-rating-value"> {{video?.userRating || '-'}} </span>
                    <span class="user-rating-caption">You</span>
                </div>

                <app-rating style="min-width: 120px;" *ngIf="state.rating" [initialRating]="video?.userRating"
                    (rateHovered)="onHover($event)" (rateSelected)="onRateChange($event)"
                    (rateReset)="onRateReset($event)">
                </app-rating>

                <span class="spacer"></span>


                <button *ngIf='!savedForLater' mat-stroked-button color='accent' (click)='saveForLater(true)'>
                    <mat-icon>
                        add
                    </mat-icon>
                    Save for later
                </button>
                <button *ngIf='savedForLater' mat-flat-button color='accent' (click)='saveForLater(false)'>
                    <mat-icon>
                        clear
                    </mat-icon>
                    Unsave video
                </button>

            </div>
        </mat-card-title>


        <mat-card-title>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">

                <span>{{video?.title}}</span>

                <span class="spacer"></span>

            </div>
        </mat-card-title>

        <mat-card-subtitle>
            <!-- TODO: change to views when implemented -->
            {{video?.votes}} views
        </mat-card-subtitle>


        <mat-card-content>
            <video [hidden]="!video" #videoPlayer controls [src]="getVideoUrl()" [poster]="video?.poster">
            </video>
        </mat-card-content>

        <mat-card-subtitle>
            Plot
        </mat-card-subtitle>
        <mat-card-content>
            {{video?.plot}}
        </mat-card-content>

    </mat-card>

    <div fxFlex="45%" fxLayout="column">
        <app-movie-list [movies]='relatedMovies' [showVertically]='true'></app-movie-list>
    </div>

</div>
